.btn{
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(89.7deg, #00FCE3 0.23%, #00D6FA 99.74%);
    border: none;
    color: rgba(15, 11, 16, 1);
    font-size: 20px;
    padding: 1rem 2rem;
    border-radius: 40px;
}
.btn:hover{
    cursor: pointer;

}